body {
    text-align: center;
    font: 300 20px sans-serif;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif
}

.header {
    padding: 100px;
    text-align: center;
    background: url('../img/paisaje.webp');
    background-size: cover;
    color: white;
    text-shadow: 2px 2px black;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #b8860b;
    text-shadow: 1px 1px #000000b2;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.navbar a {
    color: white;
    padding: 10px 25px;
    text-transform: uppercase;
    text-decoration: none;
    font-stretch: semi-condensed;
    font-weight: bold;
}

.content {
    padding: 80px 0;
}

.hobbies {
    background: linear-gradient(
        rgba(255, 136, 0, 0.45), 
        rgba(255, 136, 0, 0.45)
      ),url('../img/swim.jpg');
    background-size: cover;
    color: white;
    text-shadow: 1px 1px rgba(112, 60, 0, 0.301);
}

.pelis {
    background: rgba(0, 0, 0, 0.836);
    background-size: cover;
    color: white;
}

.lista {
    text-align: left;
    padding-left: 15%;
    padding-top: 4%;
}

.contact {
    background: linear-gradient(
        rgba(255, 136, 0, 0.45), 
        rgba(255, 136, 0, 0.45)
      ),url('../img/Person-working-with-computer-Stock-Photo-03.jpg');
    background-size: cover;
    color: white;
    text-shadow: 1px 1px rgba(112, 60, 0, 0.301);
}

.container {
    padding: 12px 250px 24px 250px;
	margin: 48px 12px;
    text-align: left;
}

label {
	font-size: 0.85em;
	margin-left: 12px;
}

input[type=text],input[type=email], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
